## Second Assignment: Segmenting and Clustering Neighborhoods in Toronto

*For answer to second question of the assignment skip to In[10]

First step: Install packages and import libraries

In [1]:
!conda install -c conda-forge wikipedia --yes
import pandas as pd
import wikipedia as wp
import numpy as np

Fetching package metadata .............
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /opt/conda/envs/DSX-Python35:
#
wikipedia                 1.4.0                    py35_0    conda-forge

Second step: Retieve table from html source and format to read fisrt row as header

In [2]:
#Get the html source
html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
df = pd.read_html(html)[0]
df.to_csv('beautifulsoup_pandas.csv',header=0,index=False)
# Transform first column into header
df.columns=['PostalCode', 'Borough', 'Neighborhood']
df.drop(df.index[0], inplace=True)
df.head()

  PostalCode           Borough      Neighborhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

Third step: drop rows with borough not assigned

In [3]:
df=df[df.Borough != 'Not assigned']
df.head()

  PostalCode           Borough      Neighborhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

Third step: Group rows with identical postal code. First, in order to verify hoy many rows we should have in the end I used the group by, count() method by PostalCode

In [4]:
check=df.groupby('PostalCode').count()
check.shape

(103, 2)

This shows us there is a total of 103 different postal codes in the data frame
Then we group by postal code, but now we use the join function in order to mix different neighborhoods separated by a comma

In [5]:
new_df=df.groupby(['PostalCode', 'Borough'], as_index=False).agg(lambda x: ', '.join(set(x.astype(str))))
new_df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough       Guildwood, West Hill, Morningside
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Now we check that the total amount of rows is the same as the prdeicted one of 103

In [6]:
new_df.shape

(103, 3)

We can see that it is the same number of rows, so even though the order of the rows has changed the result is still correct

Fourth step: Replace not assigned values for neighborhood with value from borough

In [7]:
final_df=new_df
final_df['Neighborhood'].where(final_df.Neighborhood!='Not assigned', final_df.Borough, inplace=True)
final_df

,PostalCode,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Highland Creek, Port Union, Rouge Hill"
2,M1E,Scarborough,"Guildwood, West Hill, Morningside"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
5,M1J,Scarborough,Scarborough Village
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park"
7,M1L,Scarborough,"Golden Mile, Oakridge, Clairlea"
8,M1M,Scarborough,"Cliffside, Scarborough Village West, Cliffcrest"
9,M1N,Scarborough,"Cliffside West, Birch Cliff"
10,M1P,Scarborough,"Wexford Heights, Scarborough Town Centre, Dors..."
11,M1R,Scarborough,"Maryvale, Wexford"
12,M1S,Scarborough,Agincourt
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan"
14,M1V,Scarborough,"L'Amoreaux East, Milliken, Steeles East, Aginc..."
15,M1W,Scarborough,"Steeles West, L'Amoreaux West"
16,M1X,Scarborough,Upper Rouge
17,M2H,North York,Hillcrest Village
18,M2J,North York,"Oriole, Fairview, Henry Farm"
19,M2K,North York,Bayview Village
20,M2L,North York,"York Mills, Silver Hills"
21,M2M,North York,"Newtonbrook, Willowdale"
22,M2N,North York,Willowdale South
23,M2P,North York,York Mills West
24,M2R,North York,Willowdale West
25,M3A,North York,Parkwoods
26,M3B,North York,Don Mills North
27,M3C,North York,"Flemingdon Park, Don Mills South"
28,M3H,North York,"Wilson Heights, Downsview North, Bathurst Manor"
29,M3J,North York,"Northwood Park, York University"
...,...,...,...
73,M6C,York,Humewood-Cedarvale
74,M6E,York,Caledonia-Fairbanks
75,M6G,Downtown Toronto,Christie
76,M6H,West Toronto,"Dovercourt Village, Dufferin"
77,M6J,West Toronto,"Trinity, Little Portugal"
78,M6K,West Toronto,"Parkdale Village, Exhibition Place, Brockton"
79,M6L,North York,"North Park, Upwood Park, Maple Leaf Park"
80,M6M,York,"Del Ray, Silverthorn, Mount Dennis, Keelesdale"
81,M6N,York,"The Junction North, Runnymede"
82,M6P,West Toronto,"The Junction South, High Park"
83,M6R,West Toronto,"Parkdale, Roncesvalles"
84,M6S,West Toronto,"Swansea, Runnymede"
85,M7A,Queen's Park,Queen's Park
86,M7R,Mississauga,Canada Post Gateway Processing Centre
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
88,M8V,Etobicoke,"New Toronto, Humber Bay Shores, Mimico South"
89,M8W,Etobicoke,"Alderwood, Long Branch"
90,M8X,Etobicoke,"Old Mill North, The Kingsway, Montgomery Road"
91,M8Y,Etobicoke,"King's Mill Park, Humber Bay, Mimico NE, Old M..."
92,M8Z,Etobicoke,"Royal York South West, Kingsway Park South Wes..."
93,M9A,Etobicoke,Islington Avenue
94,M9B,Etobicoke,"West Deane Park, Martin Grove, Islington, Clov..."
95,M9C,Etobicoke,"Eringate, Old Burnhamthorpe, Bloordale Gardens..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Emery, Humberlea"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, Richview Gardens, St. Phill..."
101,M9V,Etobicoke,"Albion Gardens, Thistletown, Silverstone, Moun..."
102,M9W,Etobicoke,Northwest

To finish up, we check that there are no rows containing a Not assigned neighborhoood, that could have been joined with other neighborhoods when grouping by postal code

In [8]:
final_df[final_df['Neighborhood'].str.contains("assigned")]

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

And we verify once more the shaoe of the final dataframe

In [9]:
final_df.shape

(103, 3)

Second question of the assignment

First step is to retrieve the latitude and longitude of each postal code and assigning it in new columns labeled 'Latitude' and 'Longitude' to the data frame. Since I couldn't retrieve the latitude and longitude through the geocoder library, I will use the csv file and name it geo_data

In [10]:
geo_data=pd.read_csv('http://cocl.us/Geospatial_data')
geo_data.rename(columns={'Postal Code':'PostalCode', 'Latitude':'Latitude', 'Longitude':'Longitude'}, inplace=True)
geo_data.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Then I merged the data frames using the merge method, to assign the correct latitude and longitude to each postal code

In [11]:
merged_df=pd.merge(final_df, geo_data, how='left', on='PostalCode')
merged_df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Port Union, Rouge Hill",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, West Hill, Morningside",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Oakridge, Clairlea",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Scarborough Village West, Cliffcrest",43.716316,-79.239476
9,M1N,Scarborough,"Cliffside West, Birch Cliff",43.692657,-79.264848
10,M1P,Scarborough,"Wexford Heights, Scarborough Town Centre, Dors...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan",43.781638,-79.304302
14,M1V,Scarborough,"L'Amoreaux East, Milliken, Steeles East, Aginc...",43.815252,-79.284577
15,M1W,Scarborough,"Steeles West, L'Amoreaux West",43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Oriole, Fairview, Henry Farm",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,"York Mills, Silver Hills",43.757490,-79.374714
21,M2M,North York,"Newtonbrook, Willowdale",43.789053,-79.408493
22,M2N,North York,Willowdale South,43.770120,-79.408493
23,M2P,North York,York Mills West,43.752758,-79.400049
24,M2R,North York,Willowdale West,43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills North,43.745906,-79.352188
27,M3C,North York,"Flemingdon Park, Don Mills South",43.725900,-79.340923
28,M3H,North York,"Wilson Heights, Downsview North, Bathurst Manor",43.754328,-79.442259
29,M3J,North York,"Northwood Park, York University",43.767980,-79.487262
...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
74,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
75,M6G,Downtown Toronto,Christie,43.669542,-79.422564
76,M6H,West Toronto,"Dovercourt Village, Dufferin",43.669005,-79.442259
77,M6J,West Toronto,"Trinity, Little Portugal",43.647927,-79.419750
78,M6K,West Toronto,"Parkdale Village, Exhibition Place, Brockton",43.636847,-79.428191
79,M6L,North York,"North Park, Upwood Park, Maple Leaf Park",43.713756,-79.490074
80,M6M,York,"Del Ray, Silverthorn, Mount Dennis, Keelesdale",43.691116,-79.476013
81,M6N,York,"The Junction North, Runnymede",43.673185,-79.487262
82,M6P,West Toronto,"The Junction South, High Park",43.661608,-79.464763
83,M6R,West Toronto,"Parkdale, Roncesvalles",43.648960,-79.456325
84,M6S,West Toronto,"Swansea, Runnymede",43.651571,-79.484450
85,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
86,M7R,Mississauga,Canada Post Gateway Processing Centre,43.636966,-79.615819
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558
88,M8V,Etobicoke,"New Toronto, Humber Bay Shores, Mimico South",43.605647,-79.501321
89,M8W,Etobicoke,"Alderwood, Long Branch",43.602414,-79.543484
90,M8X,Etobicoke,"Old Mill North, The Kingsway, Montgomery Road",43.653654,-79.506944
91,M8Y,Etobicoke,"King's Mill Park, Humber Bay, Mimico NE, Old M...",43.636258,-79.498509
92,M8Z,Etobicoke,"Royal York South West, Kingsway Park South Wes...",43.628841,-79.520999
93,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
94,M9B,Etobicoke,"West Deane Park, Martin Grove, Islington, Clov...",43.650943,-79.554724
95,M9C,Etobicoke,"Eringate, Old Burnhamthorpe, Bloordale Gardens...",43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,"Emery, Humberlea",43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Richview Gardens, St. Phill...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Thistletown, Silverstone, Moun...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054